* {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #b3b3b3;
}
.head-inner {
    width: 1165px;
    height: 32px;
    /* background-color: red; */
    margin: 0 auto;
}
.top {
    width: 86px;
    height: 32px;
    float: left;
}
.top-left{
    float: left;
    text-align: center;
    margin: 0 10px;
    line-height: 32px;
    font-size: 12px
}
.worp {
    padding-left: 280px;
    line-height: 32px;
}
.worp .hhh {
    float: left;
    margin: 0 16px;
}
.head-logo{
    width: 1165px;
    height: 112px;
    /* background-color: yellow; */
    margin: 0 auto;
}
.logo_1{
    width: 160px;
    height: 100px;
    float: left;
}
.logo_1 img{
    width: 100%;
    height: 100%;
}
.logo_2{
    width: 303px;
    height: 100px;
    float: left;
}
.logo_2 img{
    width: 100%;
    height: 100%;
}
.head-logo .hu_cn {
    width: 512px;
    float: left;
}
input{
    width: 446px;
    height: 40px;
    float: left;
}
.head-logo .hu{
    width: 390px;
    height: 60px;
    padding-top: 36px;
    margin-left: 60px;
    float: left;
}
.head-logo .hu .list{
    margin: 2px;
    height: 20px;
}
.head-logo .hu .list li{
    margin-right: 6px;
    float: left;
}
.head-logo .hu .list li span{
    margin-right: 6px;
}
.icon {
    width: 62px;
    height: 43.98px;
    background-color: #fa2a83;
    float: left;
    text-align: center;
    line-height: 43.98px;
}
.icon span{
    font-size: 28px;
}
.head-logo .tool{
    width: 108px;
    height: 36px;
    background-color: #f6f7f9;
    float: right;
    text-align: center;
    line-height: 36px;
    margin-left: 41px;
    margin-top: 36px;
}
.head-logo .tool .tool-cn{
    
    float: left;
}
.head-logo .tool .tool-cn .span{
    font-size: 24px;

}
.head-logo .tool .tool-nb {
    margin-left: 4px;
    margin-right: 6px;
    float: left;
}
.head-logo .tool .tool-cm{
    width: 27px;
    height: 18px;
    border-radius: 44%;
    background-color: #f00581;
    float: left;
    line-height: 18px;
    margin-top: 10px;
}

/*main-nav  */
.main-nav{
    width: 1165px;
    height: 43px;
    /* background-color: bisque; */
    margin: 0 auto;
}
.main-nav li{
    padding: 0 10px;
    float: left;
    font-size: 20px;
    line-height: 43px;
}
.main-nav li img{
    margin-top: 0px;
}
.main-nav .mian-cn{
    width: 166px;
    height: 43px;
    font-size: 20px;
    line-height: 43px;
    text-align: center;

}
/* focus-banner */
.focus-banner{
    width: 100%;
    height: 500px;
    /* background: red; */
    position: relative;
    overflow: hidden;
    background: url("../images/15965248243687.jpg") no-repeat center center;

}


.banner{
    margin: 0 auto;
    width: 1106px;
    height: 480px;
    border:20px solid #fef7f8;
    border-bottom: none;
    background-color: #fa2a83;
    margin-top: 20px;
}
/* operation-inner */
.operation-inner{
    width: 1318px;
    height: 385px;
    /* background-color: yellow; */
    /* padding-top: 20px; */
    margin-top: 20px;
    margin: 0 auto;
    padding-left: 176px;
}
.operation-inner .inner-cn {
    width: 1318px;
    /* text-align: center; */
    margin: 0 auto;


}
.operation-inner .inner-cn img{
    width: 100%;
    height: 100%;
}

.operation-inner .iner-cm {
    margin-left: 0px;
    padding-left: 0px;
    width: 1318px;
    height: 378px;
    float: left;
    
}
/* footer */
.footer{
    width: 1118px;
    height: 446px;
    /* background-color: yellow; */
    margin: 0 auto;
    padding-left: 200px;
}
.foot a{
    color: grey;
    text-decoration: none;
}

.foot-vip{
    /* padding-left: 200px; */
    height: 105px;
}
.foot-vip li{
    width: 80px;
    height: 74px;
    margin-top: 30px;
    margin-right: 38px;
    margin-left: 10px;
    float: left;
}
.foot-vip .vip2{
    background: url(../images/666.png) no-repeat 0 0;
}
.foot-vip li:nth-child(2){
    background-position: -123px 0;
}
.foot-vip li:nth-child(3){
    background-position: -246px 0;
}
.foot-vip li:nth-child(4){
    background-position: -369px 0;
}
.foot-vip li:nth-child(5){
    background-position: -492px 0;
}
.foot-vip li:nth-child(6){
    background-position: -615px 0;
}
.foot-vip li:nth-child(7){
    background-position: -738px 0;
}
.foot-vip li:nth-child(8){
    background-position: -861px 0;
}
.footer .foot-list{
    width: 1006px;
    height: 146px;
}
.footer .foot-list dt{
    margin-bottom: 4px;
    color: #4d4d4d
}
.footer .foot-list .yhu{
    margin-top: 35px;
    float: left;
    width: 145px;
    height: 86px;
    margin-bottom: 25px;
    padding-left: 16px;
    border-right: 1px solid #e0e0e0;
}
.footer .foot-list .tc-last{
    margin-top: 35px;
    float: left;
    width: 145px;
    height: 86px;
    margin-bottom: 25px;
    padding-left: 16px;
}
/* footer-infor */
.footer-infor{
    width: 1165px;
    height: 118px;
    /* background-color: grey; */
    margin: 0 auto;
}
.footer-infor .infor-cn{
    line-height: 30px;
    text-align: center;
    background-color: #d7237e;
}
.footer-infor .infor-tet a{
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
}
.footer-infor .infor-cm{
    color: #999;
    margin: 14px 0;
    line-height: 19px;
    text-align: center;
    background-color: #fff;

}
